body {
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, #79c1fe, #9ad0fe, #badefe, #d8edfe, #f6fbff) no-repeat center center fixed;
	background-size: cover;
}

/*.content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 7.5% 5% 0 5%;
}*/

#header	{
	padding-top: 20px;
	text-align: center;
	color: #3D5056;
}

#quote {
	font-family: 'Tangerine', cursive;
	font-size: 300%;
/*	width: 80%;*/
	height: 150px;
	color: #3D5056;
	margin: 20px 0 30px 0;
/*	padding: 50px;*/
}

#author {
	font-size: 200%;
	display: flex;
	justify-content: flex-end;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin: 50px 0 20px 0;
}

.buttons {
	max-width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 5%;
}

#submit {
	width: 15em;
	margin-right: 2.5%;
	padding: 1%;
	border-radius: 5px;
}

#tweet {
	width: 15em;
	margin-left: 2.5%;
	background-color: #1dcaff;
	color: #FFF;
}

.fa-twitter {
	color: #FFFFFF;
	font-size: 1.25em;
	margin-left: 7.5px;
}

.fa-quote-right {
	margin-left: 7.5px;
}
